<!DOCTYPE html>
<html>
  <head>
    <title>{{ title | with_dot_if_present }}Design is Choice</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/style.css">
    <script src="/javascript/p5.min.js"></script>
    <link rel="alternate"
          type="application/json+oembed"
          href="https://designischoice.com/oembed/{{ url_path }}/oembed.json"
          title="{{ title | with_dot_if_present }}Design is Choice oEmbed Profile" />

    <meta property="og:url"         content="{{ url_with_host }}" />
    <meta property="og:type"        content="website" />
    <meta property="og:title"       content="{{ title | with_dot_if_present }}Design is Choice" />
    {% if hero_file.file_is_present? %}
      <meta property="og:image"            content="{{ hero_file.url }}">
      <meta property="og:image:secure_url" content="{{ hero_file.url }}">
      <meta property="og:image:width"      content="{{ hero_file.width }}">
      <meta property="og:image:height"     content="{{ hero_file.height }}">
      <meta property="og:image:type"       content="{{ hero_file.img_type }}">
    {% endif %}
  </head>
  <body>
    <div id="columns">
      <div id="left">
        {{ content }}
      </div>
      <div id="right">
        <div id="ribbon">
        </div>
      </div>
    </div>
    <div id="footer">
      <div id="footer-columns">
        <div id="logo">
          <h3>DESIGN <i>is</i> CHOICE<br>
            <i>by</i> <a href="https://danbernier.com/">DANIEL BERNIER</a></h3>
          <p>© <script type="text/javascript">document.write(new Date().getFullYear());</script></p>
        </div>
        <div id="links">
          <a href="/about.html">About</a><br>
          <!--
          <a href="#">Projects</a>
          -->
        </div>
        <div id="social">
          <a href="https://github.com/danbernier/designischoice.com"><img src="/images/github.svg"></a>
          <a href="https://instagram.com/designischoice"><img src="/images/instagram.svg"></a>
        </div>
      </div>
    </div>
  </body>
</html>
